/* Write your CSS code here */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    background-color: #f1b1c1;
}

#timer {
    font-family:'Roboto Mono',monospace;
    color: #13c2e0;
}

#timerShort {
    font-family:'Roboto Mono',monospace;
    color: #e08e13;
}

#timerLong {
    font-family:'Roboto Mono',monospace;
    color: #13e095;
}